{{ ansible_managed | comment }}
[Unit]
Description=Galene
After=network.target


[Service]
Type=simple
WorkingDirectory={{ galene.folder }}/server
User=galene
Group=galene
EnvironmentFile={{ galene.folder }}/server/config/envirnment
ExecStart={{ galene.folder }}/server/galene $ARGS
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target